* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: vazirmatn, sans-serif;
}

@font-face {
    font-family: vazirmatn;
    src: url("./assets/fonts/Vazirmatn-RD[wght].woff2");
}

body {
    direction: rtl;
    background: #ededed;
}

h1 {
    font-weight: 900;
    font-size: 1.6em;
}

button {
    border: none;
    padding: 0.25rem 1.25rem;
    border-radius: 0.25rem;
    background: #d4d3d3;
    font-size: 0.9em;
    transition: 0.1s;
}

button:active {
    scale: 1.05;
}

header {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.blur {
    filter: blur(25px);
}

.show {
    transform: translateY(0) !important;
}

/* New task popup styles */
.popup {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s all;
    transform: translateY(-100%);
    z-index: 1;
}

.popup>div {
    width: 28rem;
    max-width: 80%;
    padding: 1rem;
    background: #fff;
    border-radius: 0.5rem;
}

.popup>div h2 {
    text-align: center;
    font-weight: 800;
}

.input-div {
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
}

.input-div label {
    margin: 0.5rem 0 0;
    font-size: 1.2em;
    font-weight: 600;
}

.input-div input,
.input-div textarea {
    padding: 0.25rem;
    outline: none;
    border: 1px solid #b6b6b6;
    border-radius: 0.25rem;
}

.input-div input {
    font-size: 1.2em;
    font-weight: 600;
}

.input-div textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 3rem;
    max-height: 8rem;
}

.button-div {
    margin: 0.5rem 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button-div button {
    margin: 0 0.25rem;
}

/* Message popup styles */
#message-popup>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#message-popup>div h2 {
    text-align: right;
}

#message-popup>div button,
#message-popup>div p {
    margin-top: 0.5rem;
}

#task-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    padding: 1rem 0.5rem 0.5rem;
}

.task {
    width: 38rem;
    max-width: 85%;
    margin: 0.5rem 0;
    padding: 0.5rem;
    background: #fff;
    border-radius: 0.5rem;
}

.task h2 {
    margin: 0.5rem;
    font-size: 1.30em;
}

.task p {
    font-size: 0.9em;
}

.task-options {
    float: left;
}

.task-options button {
    padding: 0.25rem;
    margin: 0 0.1rem;
    background: none;
}

.remove-btn {
    color: #b92f2f;
    font-weight: 500;
}